    <div class="contact-container">
    <div class="form-container">
      <form class="form" action="/contact" method="post">
        <div class="h1-contact">Aloqa</div>
        <div class="form-group">
          <input class="input-text" name="email" id="email" type="text" placeholder="Pochta Manzili">
        </div>
        <div class="form-group">
          <input required="" name="subject" id="subject" type="text" placeholder="Mavzu">
        </div>
        <div class="form-group">
          <textarea required="" cols="50" rows="10" id="message" name="message" placeholder="Qanday Yordam Bera Olaman?"></textarea>
        </div>
        <input value="Davom Etish" class="btn" type="submit">
      </form>
    </div>
</div>

