  <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>GTASHOP - O'ynaganlarimizni Pulga Aylantirish Vaqti Keldi!</h6>
          <h2>Virtual Pullarni Soting!</h2>
          <span>Asosiy --> <a href="">Virt Sotish</a></span>
          <div class="buttons">
            <div class="main-button">
              <a href="/sell-money">Virt Sotish</a>
            </div>
            <div class="border-button">
              <a href="/sell-account">Akkaunt Sotish</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Virtual Pullarni <em>Sotish</em> Uchun Berilganlarni To'ldiring.</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <form id="sell-account-form" action="/sell-my-money" method="post">
            <div class="row">
              <div class="col-lg-4">
                <fieldset>
                    <label for="">Serverni Tanlang</label>
                <select class="select-server" name="selectServer" id="selectServer">
                  <option value="Arizona RP | 01">Arizona RP | Phoenix</option>
                  <option value="Arizona RP | 02">Arizona RP | Tucson</option>
                  <option value="Arizona RP | 03">Arizona RP | Scottdale</option>
                  <option value="Arizona RP | 04">Arizona RP | Chandler</option>
                  <option value="Arizona RP | 05">Arizona RP | Brainburg</option>
                  <option value="Arizona RP | 06">Arizona RP | Saint Rose</option>
                  <option value="Arizona RP | 07">Arizona RP | Mesa</option>
                  <option value="Arizona RP | 08">Arizona RP | Red-Rock</option>
                  <option value="Arizona RP | 09">Arizona RP | Yuma</option>
                  <option value="Arizona RP | 10">Arizona RP | Surprise</option>
                  <option value="Arizona RP | 11">Arizona RP | Prescott</option>
                  <option value="Arizona RP | 12">Arizona RP | Glendale</option>
                  <option value="Arizona RP | 13">Arizona RP | Kingman</option>
                  <option value="Arizona RP | 14">Arizona RP | Winslow</option>
                  <option value="Arizona RP | 15">Arizona RP | Payson</option>
                  <option value="Arizona RP | 16">Arizona RP | Gilbert</option>
                  <option value="Arizona RP | 17">Arizona RP | Show Low</option>
                  <option value="Arizona RP | 18">Arizona RP | Casa-Grande</option>
                  <option value="Arizona RP | 19">Arizona RP | Page</option>
                  <option value="Arizona RP | 20">Arizona RP | Sun-City</option>
                  <option value="Arizona RP | 21">Arizona RP | Queen-Creek</option>
                  <option value="Arizona RP | 22">Arizona RP | Sedona</option>
                  <option value="Arizona RP | 23">Arizona RP | Holiday</option>
                  <option value="Arizona RP | 24">Arizona RP | Wednesday</option>
                  <option value="Arizona RP | 25">Arizona RP | Yava</option>
                  <option value="Arizona RP | 26">Arizona RP | Faraway</option>
                  <option value="Arizona RP | 27">Arizona RP | Bumble Bee</option>
                  <option value="Arizona RP | 28">Arizona RP | Christmas</option>
                  <option value="Arizona RP | 29">Arizona RP | Mirage</option>
                  <option value="Arizona RP | 30">Arizona RP | Love</option>
                  <option value="Arizona Mobile 1">Arizona | Mobile 1</option>
                  <option value="Arizona Mobile 2">Arizona | Mobile 2</option>
                  <option value="Arizona Mobile 3">Arizona | Mobile 3</option>
                  {{!-- Rodina RP --}}
                  <option value="Rodina RP | 01">Rodina RP | Централный Округ</option>
                  <option value="Rodina RP | 02">Rodina RP | Южный Округ</option>
                  <option value="Rodina RP | 03">Rodina RP | Северный Округ</option>
                  <option value="Rodina RP | 04">Rodina RP | Восточный Округ</option>
                  <option value="Rodina RP | 05">Rodina RP | Западный Округ</option>
                  <option value="Rodina RP | 06">Rodina RP | Приморский Округ</option>
                  <option value="Rodina RP | 07">Rodina RP | Федеральный Округ</option>
               </select>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label for="priceMoney">1mln uchun narx(so'mda)</label> 
                  <input type="number" name="priceMoney" id="price-money" placeholder="0" autocomplete="on" required>
                </fieldset>
              </div>
               <div class="col-lg-4">
                <fieldset>
                  <label for="amountMoney">Mablag'</label> 
                  <input type="number" name="amountMoney" id="amount-money" placeholder="0" autocomplete="on" required>
                </fieldset>
              </div>
               <div class="col-lg-6">
                <fieldset>
                  <label for="minimumAmount">Minimum Olish Miqdori</label> 
                  <input type="number" name="minimumAmount" id="minimum-amount" placeholder="0" autocomplete="on" required>
                </fieldset>
              </div>
               {{!-- <div class="col-lg-6">
                <fieldset>
                  <label for="imageMoney">Foto Isbot</label> 
                  <input type="url" name="imageMoney" id="image-money" placeholder="imgur.com/upload" autocomplete="on" required>
                </fieldset>
              </div> --}}
              <div class="col-lg-6">
                <fieldset>
                  <label for="buySm">Bog'lanish Uchun</label> 
                  <input type="text" name="userContact" id="buy-sm" placeholder="Telegram Profil" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button">Tasdiqlash</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>