    {{!-- <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
        </div>
      </div>
    </div>
  </div> --}}

  <div class="author-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
        </div>
        
        <div class="col-lg-11">
          <div class="right-info">
            <div class="row">
              
              <div class="col-8">
                <div class="data-length">
                <h6>Sayt Qoidalari</h6>
                   <br>
                </div>
              </div>
              <div class="col-11">
                <div class="data-length">
                <h6>1.Kirish</h6>
                <br>
                <p><b>1.1 </b> Saytning asosiy maqsadi – O‘zbekistonlik o‘yinchilar uchun o‘yin ichidagi akkauntlar va virtual pullarni sotish va sotib olish jarayonini qulay muhitda amalga oshirishni ta’minlashdir.</p>
                <p><b>1.2</b> Saytda avtomatlashtirilgan tranzaksiya tizimlari mavjud emas, ammo foydalanuvchilar saytdagi e'lonlar orqali o‘z akkaunt va virtual aktivlarini sotishi yoki xarid qilishi mumkin.</p>
                <p><b>1.3</b> Ushbu sayt orqali o'yin ichidagi akkauntlar va virtual pullarni sotish va sotib olish imkoniyatlari yaratilgan bo'lsa-da, barcha foydalanuvchilar xavfsizlik choralarini inobatga olishlari zarur!</p>
                <p><b>1.4</b> O'yin kompaniyalarining ko'pchiligi akkauntlarni uchinchi shaxsga o'tkazish yoki sotishni o'z qoidalarida taqiqlaydi. Shu sababli, foydalanuvchilar akkaunt sotish yoki sotib olishda ehtiyotkor bo'lishlari kerak.</p>
                <p><b>1.5</b> Saytdan foydalanishni boshlash bilan foydalanuvchilar avtomatik ravishda saytning barcha qoidalari va shartlariga rozilik bildiradilar.</p> 
                <p><b>1.6</b> Bu qoidalar foydalanuvchilar uchun xavfsiz va adolatli savdo muhitini yaratishga qaratilgan va sayt faoliyatining asosiy qoidalarini belgilab beradi.</p>
                <p><b>1.7</b> Foydalanuvchilar ushbu qoidalarga rioya qilishlari, sayt tomonidan ko‘rsatilgan barcha ko‘rsatmalarga amal qilishlari lozim.</p>
                <p><b>1.8</b> Sayt ma'muriyati qoidalarga o'zgartirishlar kiritish huquqiga ega va ushbu o'zgartirishlar saytda e'lon qilingan kundan boshlab amal qiladi.</p>
                <p><b>1.9</b> Qoidalarga amal qilmaslik foydalanuvchi akkauntining cheklanishi yoki <b>bloklanishiga</b> olib kelishi mumkin.</p>                               
                {{!-- Terms 2-Part --}}
                <H6>2.Foydalanuvchi Ro'yxatga olish va Identifikatsiya</h6>
                <p><b>2.1</b> Saytdan foydalanish uchun har bir foydalanuvchi ro'yxatdan o'tishi va kerakli ma'lumotlarni taqdim etishi zarur.</p>
                <p><b>2.2</b> Agar foydalanuvchi noto'g'ri yoki yolg'on ma'lumot kiritgan bo'lsa, uning akkaunti bloklanishi yoki cheklanishi mumkin.</p>
                <p><b>2.3</b> Sayt ma'muriyati foydalanuvchilarni tekshirish uchun qo'shimcha xavfsizlik choralari, jumladan, telefon raqami yoki email orqali identifikatsiya qilish jarayonini talab qilishi mumkin.</p> 
                <p><b>2.4</b> Foydalanuvchining shaxsiy ma'lumotlari maxfiy hisoblanadi va uchinchi shaxslarga oshkor qilinmaydi. Barcha shaxsiy ma'lumotlar saytning maxfiylik siyosati asosida saqlanadi va himoyalanadi.</p>
                <p><b>2.5</b> Ro'yxatdan o'tish orqali foydalanuvchi saytdagi barcha qoidalarga va shartlarga rozilik bildiradi. Foydalanuvchi saytdan foydalanishda faqat shaxsiy ehtiyojlari uchun foydalanishi va saytning qoidalariga rioya qilishi lozim.</p>
                {{!-- Terms 3-Part  --}}
                <h6>3.Foydalanuvchi Huquq va Majburiyatlari</h6>
                <p><b>3.1 Foydalanuvchi Huquqlari</b></p>
                <p><b>3.1.1</b> Foydalanuvchi sayt xizmatlaridan shaxsiy ehtiyojlari uchun foydalanish huquqiga ega.</p>
                <p><b>3.1.2</b> Saytga joylangan barcha e'lonlarni ko'rish, akkauntlar va virtual aktivlarni sotish yoki xarid qilish imkoniyatidan foydalanish huquqiga ega.</p>
                <p><b>3.1.3</b> Har qanday savdo jarayonida ma'lumotlarning xavfsiz saqlanishini talab qilish huquqiga ega.</p>
                <p><b>3.2 Foydalanuvchi Majburiyatlari</b></p>
                <p><b>3.2.1</b> Saytdan foydalanishda qonun-qoidalarga, shuningdek, saytning ichki tartib-qoidalariga rioya qilishi lozim.</p>
                <p><b>3.2.2</b> Foydalanuvchi faqat haqiqiy va aniq ma'lumotlardan foydalanishi kerak, shu jumladan akkauntni sotish yoki xarid qilishda.</p>
                <p><b>3.2.3</b> Boshqa foydalanuvchilarning huquqlariga zarar yetkazmaslik, jumladan, firibgarlik harakatlaridan saqlanish majburiyatiga ega.</p>
                <p><b>3.2.4</b> Sayt tomonidan taqdim etilgan xavfsizlik choralariga rioya qilish va shaxsiy parollarini boshqa shaxslarga oshkor qilmaslik.</p>
                <p><b>3.2.5</b> Foydalanuvchi o'z akkauntidagi shaxsiy ma'lumotlarni aniq saqlashi va yangilashi shart.</p>
                {{!-- Terms Part-4 --}}
                <h6>4.Saytda Ta'qiqlangan Harakatlar</h6>
                <p><b>4.1</b> Saytda firibgarlik, yolg'on axborot taqdim etish yoki boshqa foydalanuvchilarni aldagan holda sotish yoki sotib olish qat'iyan taqiqlanadi. <b>Jazo: Akkaunt Bloklanadi!</b></p>
                <p><b>4.2</b> Saytdagi boshqa foydalanuvchilarning huquqlariga zarar yetkazuvchi har qanday harakat, jumladan, ularning shaxsiy ma'lumotlarini oshkor qilish, noto'g'ri ma'lumot tarqatish yoki kamsitish qat'iyan man etiladi. <b>Jazo: Akkaunt Bloklanadi!</b></p>
                <p><b>4.3</b> Foydalanuvchilar boshqa foydalanuvchilarning e'lonlari ostidagi telegram yoki boshqa shaxsiy akkauntlariga asossiz yozuvlar yuborib, ularni bezovta qilmasliklari kerak. Savdo jarayonida o‘rinsiz savollar, behuda murojaatlar yoki boshqa foydalanuvchilarga noqulaylik tug‘diruvchi xabarlar yuborish qat’iyan man etiladi. <b>Jazo: Akkaunt Vaqtinchalik Bloklanadi!</b></p>
                <p><b>4.4</b> Har qanday firibgarlik, jumladan, sotuvga qo'yilgan akkauntlarni soxta bahona yoki yolg‘on ma’lumotlar orqali egallash harakatlari sayt xavfsizligiga qarshi huquqbuzarlik hisoblanadi. <b>Jazo: Akkaunt Bloklanadi!</b></p> 
                <p><b>4.5</b> Foydalanuvchilar faqat mavjud bo‘lgan akkauntlar va virtual aktivlar haqida e'lon joylashtirishlari kerak. Saytga soxta, mavjud bo‘lmagan yoki firibgarlik maqsadida e’lonlar qo'yish qat'iyan man etiladi. <b>Jazo: Akkaunt Vaqtinchalik Bloklanadi!</b></p>
                {{!-- Terms Part-5 --}}
                <h6>5.Savdo va Sotib olish Qoidalari</h6>
                <p><b>5.1</b> Savdo jarayonida sotuvchi va xaridor o'zaro kelishuv asosida harakat qilishlari kerak. Sotuvchi tovar haqida to'liq va aniq ma'lumotlarni taqdim etishi, xaridor esa savdo jarayonida o'z majburiyatlariga rioya qilishi shart.</p>
                <p><b>5.2</b> Agar sotuvchi yoki xaridor o'z majburiyatlarini bajarmasa yoki qoidalarga zid harakat qilsa, sayt ma'muriyatiga firibgar ustidan shikoyat qilishlari mumkin. Bunday holatlarda sayt ma'muriyati vositachilik qilish va shikoyatlarni ko'rib chiqish huquqiga ega.</p>
                <p><b>5.3</b> Foydalanuvchilar saytga faqat haqiqiy mahsulotlar, akkauntlar va virtual aktivlar haqida e'lonlar joylashtirishlari kerak.  Firibgarlik yoki asossiz e'lonlar joylashtirilsa, sayt ma'muriyati e'lonni olib tashlash yoki foydalanuvchini bloklash huquqiga ega.</p>
                <p><b>5.4</b> Agar savdo jarayonida tomonlar o'zaro kelishuvga erisha olmasa yoki boshqa masalada muammolar yuzaga kelsa, saytning qo‘llab-quvvatlash xizmatiga murojaat qilishlari mumkin. Qo'llab-quvvatlash xizmati adolatli va ishonchli savdo muhiti yaratish uchun foydalanuvchilarga yordam beradi.</p>
                <br>
                <br>
              <p><b>Mazkur qoidalar saytning xavfsiz va ishonchli ishlashini ta'minlash uchun mo'ljallangan. Saytimizdan foydalanayotgan har bir foydalanuvchi mazkur qoidalarga rioya qilish majburiyatini oladi. Saytdan foydalanish orqali foydalanuvchi ushbu qoidalar bilan tanishganini va ularni qabul qilganini tasdiqlaydi. Qoidalarga rioya qilinmagan holatlarda sayt ma'muriyati tomonidan tegishli chora-tadbirlar ko'riladi</b></p>
              </div>
              </div>

                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
 

 